body,html{
  margin: 0;
  padding:0;
}

.head-placeholder{
  height:54px;
}

.head{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 2px 5px #999;

    .logo{
      font-weight: bold;
      font-size: 24px;
      font-family: monospace;
      line-height: 52px;
      span{
        font-size: 18px;
      }

      &:hover{
        color:inherit;
      }
    }
}

.swiper-container{
  height:550px;

  .swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}