<div class="head-placeholder"></div>
<section class="hero is-small is-light head">
    <div class="hero-head">
      <nav class="navbar" >
        <div class="container">
          <a class="logo">
            SITEO - <span>travel the world</span>
          </a>
          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="index.html">
                Home
              </a>
              <a class="navbar-item" href="customers.html">
                Customers
              </a>
              <a class="navbar-item" href="destinations.html">
                Destinations
              </a>
              <a class="navbar-item" href="about.html">
                About Us
              </a>
              <a class="navbar-item" href="contact.html">
                Contact Us
              </a>
              <span class="navbar-item">
                <a class="button is-danger">
                  <span>Book Now!</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>